In [8]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('../data/set-3/train/profile_info.csv').iloc[:, 1:]
df_label = pd.read_csv('../data/set-3/train/label.csv').iloc[:, 1:]
df = df.merge(df_label, on='ID')
df.head()

,ID,name,screen_name,location,description,url,protected,followers_count,friends_count,listed_count,...,profile_image_url_https,profile_link_color,profile_sidebar_border_color,profile_sidebar_fill_color,profile_text_color,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,label
0,17461978,SHAQ,SHAQ,"Orlando, FL","VERY QUOTATIOUS, I PERFORM RANDOM ACTS OF SHAQ...",http://www.ShaqFuRadio.com,False,15349596,692,45568,...,https://pbs.twimg.com/profile_images/167390727...,2FC2EF,181A1E,252429,666666,True,False,False,False,0
1,1297437077403885568,Jennifer Fishpaw,JenniferFishpaw,,,NaN,False,0,44,0,...,https://pbs.twimg.com/profile_images/129743740...,1DA1F2,C0DEED,DDEEF6,333333,True,True,True,False,1
2,17685258,Brad Parscale,parscale,Florida,Owner @ Parscale Strategy. Senior Advisor Digi...,http://www.parscale.com,False,762839,475,3201,...,https://pbs.twimg.com/profile_images/129545322...,AB2316,FFFFFF,FFFFFF,666666,False,False,False,False,0
3,15750898,FOX 13 Tampa Bay,FOX13News,"Tampa, FL",Bringing you the important stuff like breaking...,http://www.FOX13news.com,False,327587,4801,1744,...,https://pbs.twimg.com/profile_images/129319301...,0B2F8A,FFFFFF,E8EEF0,333333,True,False,False,False,0
4,1659167666,Vonte The Plug ðŸŽ¤ðŸ”Œ,VonteThePlugNC,"Jacksonville Beach, FL",MOTIVATION 3 OUT NOW ðŸ”¥ Singles: â€˜Lil Shawdyâ€™ &...,https://music.apple.com/us/artist/vonte-the-pl...,False,13324,647,44,...,https://pbs.twimg.com/profile_images/118166240...,1DA1F2,C0DEED,DDEEF6,333333,True,False,True,False,1

In [20]:
df.shape

(8278, 36)

In [21]:
df.describe()

,ID,followers_count,friends_count,listed_count,favourites_count,utc_offset,time_zone,statuses_count,lang,label
count,8.278000e+03,8.278000e+03,8.278000e+03,8278.000000,8278.000000,0.0,0.0,8.278000e+03,0.0,8278.000000
mean,3.124649e+17,6.464586e+05,6.609915e+03,1504.488524,13297.475477,NaN,NaN,2.158684e+04,NaN,0.561247
std,4.893735e+17,4.148888e+06,6.377857e+04,9855.072510,40415.682739,NaN,NaN,9.008918e+04,NaN,0.496265
min,1.200000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,NaN,NaN,0.000000e+00,NaN,0.000000
25%,1.085977e+08,2.010000e+02,2.310000e+02,0.000000,146.000000,NaN,NaN,4.050000e+02,NaN,0.000000
50%,8.668272e+08,1.939500e+03,7.230000e+02,13.000000,1584.500000,NaN,NaN,3.624000e+03,NaN,1.000000
75%,8.185662e+17,3.762050e+04,2.124000e+03,258.000000,9121.250000,NaN,NaN,1.572975e+04,NaN,1.000000
max,1.301791e+18,1.124032e+08,4.339982e+06,550181.000000,783456.000000,NaN,NaN,5.140025e+06,NaN,1.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8278 entries, 0 to 8277
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  8278 non-null   int64
 1   name                                8278 non-null   object
 2   screen_name                         8278 non-null   object
 3   location                            8278 non-null   object
 4   description                         8278 non-null   object
 5   url                                 4160 non-null   object
 6   protected                           8278 non-null   object
 7   followers_count                     8278 non-null   int64
 8   friends_count                       8278 non-null   int64
 9   listed_count                        8278 non-null   int64
 10  created_at                          8278 non-null   object
 11  favourites_count                    8278 non-null   int64
 12  utc_offset                          0 non-null      float64
 13  time_zone                           0 non-null      float64
 14  geo_enabled                         8278 non-null   object
 15  verified                            8278 non-null   object
 16  statuses_count                      8278 non-null   int64
 17  lang                                0 non-null      float64
 18  contributors_enabled                8278 non-null   object
 19  is_translator                       8278 non-null   object
 20  is_translation_enabled              8278 non-null   object
 21  profile_background_color            8278 non-null   object
 22  profile_background_image_url        6095 non-null   object
 23  profile_background_image_url_https  6095 non-null   object
 24  profile_background_tile             8278 non-null   object
 25  profile_image_url                   8278 non-null   object
 26  profile_image_url_https             8278 non-null   object
 27  profile_link_color                  8278 non-null   object
 28  profile_sidebar_border_color        8278 non-null   object
 29  profile_sidebar_fill_color          8278 non-null   object
 30  profile_text_color                  8278 non-null   object
 31  profile_use_background_image        8278 non-null   object
 32  has_extended_profile                8278 non-null   object
 33  default_profile                     8278 non-null   object
 34  default_profile_image               8278 non-null   object
 35  label                               8278 non-null   int64
dtypes: float64(3), int64(7), object(26)
memory usage: 2.3+ MB

In [24]:
df.apply(lambda x: x.unique())

ID                                    [17461978, 1297437077403885568, 17685258, 1575...
name                                  [SHAQ , Jennifer Fishpaw , Brad Parscale , FOX...
screen_name                           [SHAQ , JenniferFishpaw , parscale , FOX13News...
location                              [Orlando, FL ,  , Florida , Tampa, FL , Jackso...
description                           [VERY QUOTATIOUS, I PERFORM RANDOM ACTS OF SHA...
url                                   [http://www.ShaqFuRadio.com, nan, http://www.p...
protected                                                               [False , True ]
followers_count                       [15349596, 0, 762839, 327587, 13324, 12601567,...
friends_count                         [692, 44, 475, 4801, 647, 96, 295385, 168, 66,...
listed_count                          [45568, 0, 3201, 1744, 44, 26952, 550181, 5279...
created_at                            [Tue Nov 18 10:27:25 +0000 2008 , Sun Aug 23 0...
favourites_count                      [142, 7, 953, 2946, 729, 177, 4532, 27, 0, 59,...
utc_offset                                                                        [nan]
time_zone                                                                         [nan]
geo_enabled                                                             [True , False ]
verified                                                                [True , False ]
statuses_count                        [9798, 0, 5518, 192876, 103, 4879, 31055, 1873...
lang                                                                              [nan]
contributors_enabled                                                           [False ]
is_translator                                                           [False , True ]
is_translation_enabled                                                  [False , True ]
profile_background_color              [080203 , F5F8FA , 1A1B1F , 00064A , C0DEED , ...
profile_background_image_url          [http://abs.twimg.com/images/themes/theme1/bg....
profile_background_image_url_https    [https://abs.twimg.com/images/themes/theme1/bg...
profile_background_tile                                                 [False , True ]
profile_image_url                     [http://pbs.twimg.com/profile_images/167390727...
profile_image_url_https               [https://pbs.twimg.com/profile_images/16739072...
profile_link_color                    [2FC2EF , 1DA1F2 , AB2316 , 0B2F8A , 62616B , ...
profile_sidebar_border_color          [181A1E , C0DEED , FFFFFF , 1C2ABD , EEEEEE , ...
profile_sidebar_fill_color            [252429 , DDEEF6 , FFFFFF , E8EEF0 , EFEFEF , ...
profile_text_color                    [666666 , 333333 , BD1B23 , 3E3E3E , 3C3940 , ...
profile_use_background_image                                            [True , False ]
has_extended_profile                                                    [False , True ]
default_profile                                                         [False , True ]
default_profile_image                                                   [False , True ]
label                                                                            [0, 1]
dtype: object

In [27]:
df_tweet = pd.read_csv('../data/set-3/train/tweet.csv').iloc[:, 1:]
df_tweet = df_tweet.merge(df_label, on='ID')
df_tweet.head()

         ID                                              tweet  label
0  17461978  RT @CarnivalCruise: ðŸŽ‰ Are you ready to see wha...      0
1  17461978  Who has time for receipts? Not me. @epson rece...      0
2  17461978  Steady wants to encourage you to invest in you...      0
3  17461978  Good one, @rishid. But letâ€™s see if y'all can ...      0
4  17461978                               #lsunationalchamps\n      0

In [28]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398465 entries, 0 to 1398464
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   ID      1398465 non-null  int64
 1   tweet   1398410 non-null  object
 2   label   1398465 non-null  int64
dtypes: int64(2), object(1)
memory usage: 42.7+ MB